
var cfg = { _id: "${replicaSetName}",
    members: [
        %{ for index, addr in ip_addrs ~}
        { "_id": ${index}, host: "${addr}", "priority": 1},
        %{ endfor }
    ]
};

var result = rs.initiate(cfg);
printjson(result);
